ANF_INPUT_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignOutput.anf"
CLIP_DESIGN_INPUT_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.siw"
3D_MOD_GEN_OPTIONS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.options"
BONDWIRE_MODEL_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.bwmodels"
SOLDERBALL_MODEL_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.sbmodels"
PLANE_EXTENTS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.pxt"
BOARD_OUTLINE_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignOutput.bo"
PEC_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignOutput.pec"
BOARD_ELEMENTS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.be"
VIA_PLATING_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.vplate"
BONDWIRE_UNITS_FACTOR_OF_METER "0.001"
POWER_GROUND_NET "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.pwg"
MATERIAL_PROPERTY_FORMULAS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.matforms"
BONDWIRE_3D_PROFILES_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.bw3Dprofiles"
COAX_PORTS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.coaxPorts"
RLC_VIAS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.rlcVias"
PIN_GROUP_INFO_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.pinGroupInfo"
MOD_GEN_EXPORT_FILE "D:/GitHub Repositories/GaN-Studies/GaNBoard/Deneme.aedt"
EXPORT_TYPE  "Q3D"
NO_PORTS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\anspjtgen3d.noPorts"
