INPUT_SIW_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.siw"
PLANE_EXTENTS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.pxt"
BOARD_OUTLINE_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.bo"
SIGNAL_NETS_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.sel"
POWER_GROUND_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignInput.pwg"
OUTPUT_ANF_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignOutput.anf"
BOARD_OUTLINE_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignOutput.bo"
PEC_FILE "D:\GitHub Repositories\GaN-Studies\GaNBoard\Deneme.siwaveresults\ClipDesignOutput.pec"
MIN_EDGE_LENGTH_TRACES "0.001"
MIN_EDGE_LENGTH_PADS "0.001"
MIN_EDGE_LENGTH_PLANES "0.001"
PAD_FACETS_COUNT "8"
ANTI_PAD_FACETS_COUNT "8"
DISCRETIZE_TRACES_PLANES_EPSILON "0.0"
PKG_VALS_FILE ""
IGNORE_UNCONNECTED_PADS "1"
REMOVE_PLATING_TAILS "0"
SQUARE_OFF_TRACE_ENDS "0"
CUT_SIGNAL_NETS_TOO "0"
FORCE_MM_OUTPUT "1"
KEEP_TRACES_AS_IS "0"
KEEP_PADS_AS_IS "0"
PRESERVE_ALL_ANTIPADS "0"
MIN_CUTOUT_SIZE_SQ_MM "424.245"
